.logo-item {
    font-size: 30px;
       color: #fbfdff;
    text-decoration: none;
}
.nav-container > .nav-list {
    flex-grow: 1;
    align-self: center;
}
.nav-container {
    display: flex;
    background-color: #2f4f4d;
    height: 50px;
}
.nav-container > .search-form {
    justify-content: flex-end;
    align-self: center;
    margin: 0;
}

.nav-container > .logo {
    align-self: center;
    margin-left: 10px;
}
.search-form > .form-group {
    margin-right: 10px;
}

.nav-list .navigation > .nav-items{
    list-style-type: none;

}
.nav-items > a {
    color: #fbfdff;
    text-decoration: none;
    margin-right: 15px;
}
.nav-list .navigation {
    display: inline-flex;

}

.search-form {
    border: none;
    border-radius: 10px;
    padding: 10px;

}

.value {
    border: 2px solid #3efc16;
    border-radius: 10px;
    padding: 7px;
    width: 90px;
    color: #3efc16;
    margin-left: 15px;
    background-color: transparent;
}
.input {
    color: white;
    background-color: #3efc16;
}

.carousel {
    height: 450px;
    background-color: #707d7d;
}


.table {
    margin:0 auto;
    width:100%;
    max-width:700px;
    display:inline-block;
    vertical-align:middle;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.column-1 {
    width:33%;
    height:700px;
    text-align: center;
       }

.column-2 {
    width:33%;
    height:700px;
    text-align: center;
    }

.column-3 {
    width:33%;
    height:700px;
    text-align: center;
    }
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}
.rounded-circle {
    border-radius: 50%!important;}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
.btn:hover {
    color: #212529;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

.muted {
    color: #cdcece;
}
.art-heading {
    color: #5a5a5a;
    font-size: 50px;
}
